.gap-xxs {
    gap: 0.25rem;
}
.gap-xs {
    gap: 0.5rem;
}
.gap-x-xs {
    gap: 0 0.5rem;
}
.gap-x-sm {
    gap: 0 0.75rem;
}
.gap-x-md {
    gap: 0 1rem;
}
.gap-sm {
    gap: 0.75rem;
}
.gap-md {
    gap: 1rem;
}
.gap-lg {
    gap: 1.5rem;
}
.gap-xl {
    gap: 3rem;
}
